<html>
    <head>
        <title>Temperatures</title></head>
    <body>
        <h1>{{date}}</h1>

        <ul>
            <li>Max: {{tempMaxC}}</li>
            <li>Min: {{tempMinC}}</li>
        </ul>
    </body>
</html>